* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 5px solid black;
    height: 200px;
    width: 100%;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
}

button {
    margin: 30px;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
background-color: violet;
border: 0.2px solid black;
margin: 20px;
border-radius: 20px;
}

.word-guess {
    flex: 2 0 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-word {
font-size: 60px;;
}

.score {
    flex: 1 0 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.win-loss-reset {
    background-color: blueviolet;
    flex:1.5 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.win-loss {
 height: 100px;
 padding: 20px;
 margin: 10px;
}

.timer {
    background-color: blanchedalmond;
    flex:0.5 0 100px;
    text-align: center;
    padding: 20px;;
}